*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MdEdit{
  margin-top: .2rem;
  width: 75%;
  height: 90vh;
  border: 1px solid #fff;
#extraimage{
  height: 25vh;
  width: 100%;
  border: 1px solid #fff; 
}  
#logo{
padding-left: 1rem; 
margin-top: -3rem; 
img{
  height: 21vh;
}
}
}